In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Misratah,LY,2021-10-24 22:04:59,32.3754,15.0925,73.42,77,3,11.34
1,1,Avarua,CK,2021-10-24 22:02:51,-21.2078,-159.7750,77.05,61,40,13.80
2,2,Oriximina,BR,2021-10-24 22:05:00,-1.7656,-55.8661,82.42,72,39,3.06
3,3,Kristiinankaupunki,FI,2021-10-24 22:05:00,62.2743,21.3760,46.35,94,100,16.02
4,4,Bilokurakyne,UA,2021-10-24 22:05:01,49.5341,38.7307,38.17,72,38,10.22

In [3]:
#get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
#filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Avarua,CK,2021-10-24 22:02:51,-21.2078,-159.7750,77.05,61,40,13.80
2,2,Oriximina,BR,2021-10-24 22:05:00,-1.7656,-55.8661,82.42,72,39,3.06
18,18,Vaini,TO,2021-10-24 22:05:07,-21.2000,-175.2000,78.96,78,20,13.80
24,24,Yantzaza,EC,2021-10-24 22:05:09,-3.8278,-78.7594,75.52,94,100,0.96
25,25,Salalah,OM,2021-10-24 22:05:09,17.0151,54.0924,76.08,77,84,3.22
28,28,Butaritari,KI,2021-10-24 22:05:10,3.0707,172.7902,81.48,72,48,3.24
30,30,Souillac,MU,2021-10-24 22:00:35,-20.5167,57.5167,75.36,73,40,12.66
36,36,Gambela,ET,2021-10-24 22:05:12,8.2500,34.5833,77.99,54,69,4.54
38,38,Tutoia,BR,2021-10-24 22:05:13,-2.7619,-42.2744,81.19,79,85,14.07
45,45,Waingapu,ID,2021-10-24 22:05:15,-9.6567,120.2641,78.64,84,79,1.48

In [12]:
preferred_cities_df.count()

City_ID       174
City          174
Country       174
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [13]:
#create df called hotel_df to store htoel names along with city, country, max temp, and coords
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1       Avarua      CK     77.05 -21.2078 -159.7750
2    Oriximina      BR     82.42  -1.7656  -55.8661
18       Vaini      TO     78.96 -21.2000 -175.2000
24    Yantzaza      EC     75.52  -3.8278  -78.7594
25     Salalah      OM     76.08  17.0151   54.0924
28  Butaritari      KI     81.48   3.0707  172.7902
30    Souillac      MU     75.36 -20.5167   57.5167
36     Gambela      ET     77.99   8.2500   34.5833
38      Tutoia      BR     81.19  -2.7619  -42.2744
45    Waingapu      ID     78.64  -9.6567  120.2641

In [17]:
#set parameters to search for a hote
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}
#iterate through the df
for index, row in hotel_df.iterrows():
    #get the lat and long
    lat = row["Lat"]
    lng = row["Lng"]
    
    #add the lat and lng to the location key for the params dictionry
    params["location"] = f"{lat},{lng}"
    
    #use the search term: lodging and our lat and long
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #make request and get the json data from search
    hotels = requests.get(base_url, params=params).json()
    #grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
2,Oriximina,BR,82.42,-1.7656,-55.8661,Pousada Tia Amélia
18,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
24,Yantzaza,EC,75.52,-3.8278,-78.7594,HOTEL ALEJANDRO YANTZAZA
25,Salalah,OM,76.08,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
28,Butaritari,KI,81.48,3.0707,172.7902,Isles Sunset Lodge
30,Souillac,MU,75.36,-20.5167,57.5167,Shanti Maurice Resort & Spa
36,Gambela,ET,77.99,8.2500,34.5833,Solomon Debebe Hotel
38,Tutoia,BR,81.19,-2.7619,-42.2744,Pousada Guará's
45,Waingapu,ID,78.64,-9.6567,120.2641,Pondok Wisata Elim

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]