## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Poum,NC,-20.2333,164.0167,76.42,70,9,12.86,clear sky
1,1,Avarua,CK,-21.2078,-159.7750,78.85,65,75,12.66,broken clouds
2,2,Albany,US,42.6001,-73.9662,50.61,72,24,1.99,few clouds
3,3,Punta Arenas,CL,-53.1500,-70.9167,48.31,49,40,18.41,scattered clouds
4,4,Takaka,NZ,-40.8500,172.8000,64.56,53,6,10.83,clear sky

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 72
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Poum,NC,-20.2333,164.0167,76.42,70,9,12.86,clear sky
1,1,Avarua,CK,-21.2078,-159.7750,78.85,65,75,12.66,broken clouds
5,5,Bonthe,SL,7.5264,-12.5050,76.33,89,100,7.74,moderate rain
6,6,Fernley,US,39.6080,-119.2518,73.51,36,35,3.00,scattered clouds
7,7,Atuona,PF,-9.8000,-139.0333,77.38,72,24,12.39,few clouds
8,8,Labuhan,ID,-6.8844,112.2051,81.66,78,100,9.40,overcast clouds
9,9,Shakawe,BW,-18.3667,21.8500,75.96,49,40,0.78,scattered clouds
10,10,Denpasar,ID,-8.6500,115.2167,74.86,94,75,3.44,broken clouds
14,14,Bambous Virieux,MU,-20.3428,57.7575,72.21,94,75,3.44,broken clouds
15,15,Rikitea,PF,-23.1203,-134.9692,75.47,79,96,17.67,overcast clouds

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                231
City                   231
Country                229
Lat                    231
Lng                    231
Max Temp               231
Humidity               231
Cloudiness             231
Wind Speed             231
Current Description    231
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Poum,NC,-20.2333,164.0167,76.42,70,9,12.86,clear sky
1,1,Avarua,CK,-21.2078,-159.7750,78.85,65,75,12.66,broken clouds
5,5,Bonthe,SL,7.5264,-12.5050,76.33,89,100,7.74,moderate rain
6,6,Fernley,US,39.6080,-119.2518,73.51,36,35,3.00,scattered clouds
7,7,Atuona,PF,-9.8000,-139.0333,77.38,72,24,12.39,few clouds
...,...,...,...,...,...,...,...,...,...,...
664,664,Andros Town,BS,24.7000,-77.7667,80.89,78,100,14.74,overcast clouds
669,669,Alcantara,BR,-2.4089,-44.4147,76.95,84,96,4.05,overcast clouds
670,670,Payo,ID,-3.7508,103.6372,76.35,94,100,0.96,overcast clouds
671,671,Fougamou,GA,-1.2154,10.5838,73.98,99,99,2.33,overcast clouds
675,675,Lubao,PH,14.9167,120.5500,80.15,75,59,8.32,broken clouds

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Poum,NC,76.42,clear sky,-20.2333,164.0167,
1,Avarua,CK,78.85,broken clouds,-21.2078,-159.7750,
5,Bonthe,SL,76.33,moderate rain,7.5264,-12.5050,
6,Fernley,US,73.51,scattered clouds,39.6080,-119.2518,
7,Atuona,PF,77.38,few clouds,-9.8000,-139.0333,
8,Labuhan,ID,81.66,overcast clouds,-6.8844,112.2051,
9,Shakawe,BW,75.96,scattered clouds,-18.3667,21.8500,
10,Denpasar,ID,74.86,broken clouds,-8.6500,115.2167,
14,Bambous Virieux,MU,72.21,broken clouds,-20.3428,57.7575,
15,Rikitea,PF,75.47,overcast clouds,-23.1203,-134.9692,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Poum,NC,76.42,clear sky,-20.2333,164.0167,Gîte kajeon
1,Avarua,CK,78.85,broken clouds,-21.2078,-159.7750,Paradise Inn
5,Bonthe,SL,76.33,moderate rain,7.5264,-12.5050,Bonthe Holiday Village
6,Fernley,US,73.51,scattered clouds,39.6080,-119.2518,Super 8 by Wyndham Fernley
7,Atuona,PF,77.38,few clouds,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
664,Andros Town,BS,80.89,overcast clouds,24.7000,-77.7667,Hanks place
669,Alcantara,BR,76.95,overcast clouds,-2.4089,-44.4147,Pousada da Josefa
670,Payo,ID,76.35,overcast clouds,-3.7508,103.6372,Mess keban agung
671,Fougamou,GA,73.98,overcast clouds,-1.2154,10.5838,Résidence d'Hôtes Bapedy
675,Lubao,PH,80.15,broken clouds,14.9167,120.5500,Hacienda Gracia

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))